<!DOCTYPE html>
<html xlmns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Buchformular</title>
		<link rel="stylesheet" href="css/design.css"/>
		<link href="https://fonts.googleapis.com/css?family=Cormorant&display=swap" rel="stylesheet">
	</head>
	<body>
	<div id="base">
	<div id="overlay">
		<header>
			<h1>ERROR</h1>
		</header>
		
		<nav>
			<ul>
				<li>
					<a href="start">Startseite</a>
				</li>
				<li>
					<a href="buchListe">Bücherliste</a>
				</li>
				<li>
					<a href="buchFormular">Neues Buch</a>
				</li>
			</ul>
		</nav>
		
		<main id="error">
				<h1>Etwas ist schief gelaufen!</h1>	
		</main>
	</div>
	</div>	
	</body>
</html>