<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Bücherverwaltung</title>
		<link rel="stylesheet" href="css/design.css"/>
		<link href="https://fonts.googleapis.com/css?family=Cormorant&display=swap" rel="stylesheet">
	</head>
	<body id="dashboard">
	<div id="base">
	<div id="overlay">
		<header>
		<h1>         Bücherverwaltung</h1>
		</header>
		
		<nav>
			<ul>
				<li>
					<a href="start">Startseite</a>
				</li>
				<li>
					<a href="buchListe">Bücherliste</a>
				</li>
				<li>
					<a href="buchFormular">Neues Buch</a>
				</li>
			</ul>
		</nav>
		
	<div id="vertikal">
			<div id="dash">
			
			
				<div class="box">
					<a href="buchListe">Bücherliste</a>
				</div>
		
				
				
		
				<div class="box">
						<a href="buchFormular">Neues Buch hinzufügen</a>
				</div>
	
				
			</div>
			</div>
	</div>
	</div>
	</body>
</html>